{% extends "conteneur.html" %}
{% block afternav %}
{%endblock%}
{% block corps %}
<h1>Bienvenue sur le site Imaginatiiif!</h1>
    {% if commentaires %}
    <p>{{commentaires|length}} commentaires enregistrés :</p>
        <ul>
            {% for commentaire in commentaires %}
                <li><a href="{{url_for('commentaire', comment_id=commentaire.comment_id)}}">{{commentaire.comment_nom}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Pour pouvoir enregistrer un commentaire, vous devez d'abord vous inscrire.</p>
    {% endif %}
{% endblock %}
