{% extends "conteneur.html" %}

{% block titre %}| Commentaires{%endblock%}

{% block corps %}

<h1>Commentaire d'images</h1>
<p>Complétez le formulaire et cliquez sur "Enregistrer".</p>
<form class="form" method="POST" action="{{url_for("nomcommentaire")}}">
  <div class="form-group row">
    <label for="nom-commentaire" class="col-sm-2 col-form-label">Titre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nom-commentaire" placeholder="titre du commentaire" name="nom">
    </div>
  </div>
  <div class="form-group row">
    <label for="lien-commentaire" class="col-sm-2 col-form-label">Lien vers le manifeste</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="lien-commentaire" placeholder="lien vers le manifeste" name="lien">
    </div>
  </div>
  <div class="form-group row">
    <label for="commentaire-commentaire" class="col-sm-2 col-form-label">Commentaire</label>
    <div class="col-sm-10">
      <textarea type="text"
        class="form-control"
        id="commentaire-commentaire"
        placeholder="votre commentaire"
        name="commentaire">
      </textarea>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </div>
</form>
{% endblock %}
